<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total documents in database is <%= documentCount.count %></p>
    <p>Total employees in database is <%= employeeCount.count %> </p>
    <p>Total comments in database is <%= commentCount.count %></p>
    <p>Total categories in database is <%= categoryCount.count %></p>

</div>